
body {
    background-color: pink;
}

form {
    visibility: hidden;
}

#title {
    text-align: center;
}

#main {
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

#submit {
    background-color: lightblue;
    margin: 0, 50%;
}